---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <p style="font-family:arial, 'MS Sans Serif', arial;font-size:20px;margin-bottom:1px;"><strong><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3140400" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)" style="text-decoration:none;">The Role of Internal M&amp;A Teams in Takeovers,</a> Review of Finance (2021)</strong>  with Nihat Aktas, Audra Boone, Alexander Witkowski, and Burcin Yurtoglu </p>
    <p style="font-family:arial, 'MS Sans Serif', arial;font-size:20px;margin-bottom:1px;"><strong><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2874336" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)" style="text-decoration:none;">Determinants and Value Effects of Early Announcements in Takeovers</a></strong>&nbsp;<strong>Journal of Corporate Finance (2018)</strong>  with Nihat Aktas and&nbsp;Burcin Yurtoglu<br><em>Best AFFI 2017 Conference Paper;&nbsp;</em>Media coverage:&nbsp;<em><a rel="noreferrer noopener" href="https://www.lesechos.fr/18/01/2017/LesEchos/22364-135-ECH_opa---quand-les-predateurs-rompent-la-loi-du-silence.htm" target="_blank">Les Echos</a>&nbsp;</em></p>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Working Papers</h3>
    <p style="font-family:arial, 'MS Sans Serif', arial;font-size:17px;margin-bottom:1px;"><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3189273" target="_blank" style="text-decoration:none;"><strong>Friends in Media</strong></a>
    <br><em><a rel="noreferrer noopener" href="http://sfs.org/cavalcade-best-paper-in-corporate-finance/" target="_blank">Best Paper in Corporate Finance</a> at the SFS Cavalcade North America 2021</em>
    </p>
    <p style="margin-top:6px;font-family:arial, 'MS Sans Serif', arial;font-size:16px;">We test the independence of news content from financial journalists’ social networks and the real effects of journalist connections in the financial markets. </p>
    <p style="font-family:arial, 'MS Sans Serif', arial;font-size:16px;"><em><strong>Conferences: EFA 2020, EFA Doctoral Tutorial 2018, FIRS, SFS Cavalcade North America</strong></em></p>
  </div>
</div>
